
.modal-text {
  .modal-body {
    text-align: center;
  }
}

.modal-content {
  border-radius: .5rem;

  .modal-header {
    border: none !important;
    text-align: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem;
  }

  .modal-footer {
    justify-content: center;
    border: none !important;
    padding: 0.5rem;
  }

  .modal-body {
    padding: 0;
  }

  .custom-modal-close{
    opacity: 0.5;
    transition: all 0.2s;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 22px;

    &:hover{
      opacity: 1;
    }
  }
}

//
//
//.bounce-enter-active {
//  animation: bounce-in .5s;
//}
//
//.bounce-leave-active {
//  animation: bounce-in .5s reverse;
//}
//
//@keyframes bounce-in {
//  0% {
//    transform: translateY(-200px)
//  }
//  50% {
//    transform: translateY(20px)
//  }
//  100% {
//    transform: translateY(0)
//  }
//}
